[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
black = "*"

[packages]
google-api-python-client = "*"
dateparser = "*"
flask = "*"
pandas = "*"
psycopg2 = "*"
google-auth = "*"
google-auth-oauthlib = "*"
google-auth-httplib2 = "*"
gunicorn = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
