<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Max Quirk</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Muli%7CRoboto:400,300,500,700,900" rel="stylesheet">
</head>

<body>
    <div class="main-nav">
        <ul class="nav">
            <li class="name">
                <a href="index.html">
                    <img id="small-logo" src="images/small-logo.png" alt="logo">
                </a>
            </li>
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a href="resume.pdf" target="_blank">Resume</a>
            </li>
            <li>
                <a href="contact.html">Contact</a>
            </li>
        </ul>
    </div>

    <header class="background-contact">
        <div class="contact-card">

            <ul>
                <li>
                    <a href="https://twitter.com/gurkinator_42" target="_blank" class="bigsocial twitter">
                        Twitter
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/max-quirk-aa1347150/" target="_blank" class="bigsocial linkedin">
                        LinkedIn
                    </a>
                </li>
                <li>
                    <a href="https://github.com/max-quirk" target="_blank" class="bigsocial github">
                        Github
                    </a>
                </li>
                <li>
                    <a href="mailto:max.q.807@gmail.com" target="_blank " class="bigsocial mail ">
                        max.q.807@gmail.com
                    </a>
                </li>
            </ul>

        </div>
    </header>

    </main>
    <footer>
        <ul>
            <li>
                <a href=" https://twitter.com/gurkinator_42 " target="_blank " class="social twitter ">Twitter</a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/max-quirk-aa1347150/ " target="_blank " class="social linkedin ">LinkedIn</a>
            </li>
            <li>
                <a href="https://github.com/max-quirk " target="_blank " class="social github ">Github</a>
            </li>
        </ul>
        <p class="copyright ">Copyright 2017, Max Quirk</p>
    </footer>
</body>

</html>
